.bg_h{background:#999999;}
.bg_f{background:#999999;}
.bg_p{background:#93cf96;}
.bg_a{background:#86665a;}
.bg_b{background:#00695f;}
.unclicked{background:#104b79;}
.clicked{background:#0f0f0f;}
.h_clr{color:#ffffff;}
.btn_clr{color:#cddc39;}