@charset "utf-8";
/**************************************public**************************************/
*{
	margin:0;
	border:0;
	padding:0;
	overflow-x:hidden;
	font-size:14px;
}
ul{
	list-style:none;
}
img{
	width:100%;
	text-align:center;
	vertical-align:middle;
}
a:hover{
	cursor:pointer;
}
/**************************************END public**************************************/

/**************************************LAYOUT**************************************/
.header, .footer, .footer_dir, .footer_copyright, .content, .maintext_header, .maintext_content, .aside_list, .eva, .evastar_container, .evatext_container{
	width:100%;
}
.header_container, .footer_container{
	width:72%;
	margin:1rem 14%;
}
.content_container{
	width:72%;
	margin:1rem 14% 0;
}
.logo{
	display:block;
}
.logo_img, .logo_title{
	display:inline-block;
	vertical-align:middle;
}
.logo_img{
	width:64px;
}
.nav a{
	display:inline-block;
	line-height:2rem;
	vertical-align:middle;
	margin-left:2rem;
}
.footer_dir{
	text-align:center;
}
.footer_dir a{
	display:inline-block;
	margin:5px 0.5rem;
}
.footercopy_container{
	text-align:center;
	padding:5px 0;
}
.maintext{
	width:72%;
	line-height:24px;
}
.aside{
	width:28%;
}
.maintext_header{
	margin:0 0 1rem;
}
.maintexthdr_container{
	width:96%;
	margin:0 2%;
	padding:0 0 1rem;
}
.maintextcon_container{
	width:100%;
	margin:0 0 1rem;
}
.content_header{
	width:100%;
	padding:1rem 0;
}
.aside_container{
	width:95%;
	margin:0 0 0 5%;
}
.aside_div{
	width:90%;
	padding:0 5%;
	margin:0 0 1rem;
}
.aside_list ul li{
	display:block;
	padding:0 1rem;
	margin:0 0 1rem;
}
.aside_list ul li a p{
	display:inline;
}
.maintextcon_div{
	width:96%;
	margin:0 2%;
	padding:0 0 1rem;
}
.maintextcon_title, .maintextcon_text{
	width:100%;
}
.maintextconti_container{
	width:100%;
	margin:1rem 0 0.5rem;
}
.maintextcontxt_container{
	width:100%;
	margin:0.5rem 0;
}
.site_title{
	display:block;
}
.sitetitle_des{
	padding:0 2px;
}
.img_area{
	width:35%;
}
.text_area, .reviewhdr_text{
	widtH:65%;
}
.eva_title{
	width:100%;
}
.evatitle_container{
	width:100%;
	margin:0 0 1rem 0;
	text-align:left;
}
.eva_container{
	width:100%;
	margin:2px 0;
}
.eva_text{
	padding:0 5px;
}
.evatext_container{
	text-align:left;
}
.imgarea_container{
	width:100%;
	margin-top:5px;
}
.imgarea_container img{
	width:100%;
}
.textarea_container{
	width:96%;
	padding:0 2%;
}
.reviewhdrtxt_container{
	width:96%;
	padding:0 2%;
}
.button_line{
	width:100%;
}
.btnline_container{
	width:100%;
	margin:0.5rem 0;
}
.outerlink_btn, .review_btn{
	display:block;
	margin:0.5rem 0 0 12px;
}
.outerlinkbtn_container, .reviewbtn_container{
	height:32px;
	padding:0 1rem;
	line-height:32px;
	text-align:center;
}
.review_title, .reviewcontent_title, .review_bold{
	width:96%;
	margin:1rem 2%;
}
#blog_margin{
	margin-bottom:0;
}
.blog_content{
	width:100%;
	margin:0 0 1rem;
}
.blogcontent_container{
	width:100%;
}
.blog_img{
	width:100%;
	margin:1rem 0;
}
.review_text{
	width:96%;
	margin:0 2% 1rem;
}
.review_list{
	width:96%;
	margin:1rem 2% 0;
}
.reviewti_container{
	width:100%;
	line-height:32px;
}
.reviewti_container h1{
	font-size:18px;
}
.reviewconti_container, .reviewbold_container, .reviewlist_container, .reviewtext_container{
	width:100%;
	line-height:20px;
}
.blogimg_container{
	width:100%;
}
.blogimg_container img{
	width:100%;
}
.reviewlist_container ul li{
	display:block;
	padding:0 0 1rem 1rem;
}
.backtop{
	display:none;
	position:fixed;
	right:14%;
	bottom:7rem;
}
#f_backtop{
	display:none;
}
/**************************************END LAYOUT**************************************/

/**************************************css tricks & tools**************************************/
/*Start five point star*/
.fivepointstar, .fivepointstar:before, .fivepointstar:after, .fivepointstar_no, .fivepointstar_no:before, .fivepointstar_no:after{
	display:block;
	width:0px;
	height:0px;
	overflow-x:visible;
}
.fivepointstar, .fivepointstar_no{
	float:left;
}
.fivepointstar, .fivepointstar:before, .fivepointstar:after{
	border-bottom:7px solid #FCC533;
}
.fivepointstar_no, .fivepointstar_no:before, .fivepointstar_no:after{
	border-bottom:7px solid #616161;
}
.fivepointstar, .fivepointstar_no{
  position:relative;
  margin:6px 0;
  border-right:10px solid transparent;
  border-left:10px solid transparent;
  -webkit-transform:rotate(37deg);
  -moz-transform:rotate(37deg);
  -ms-transform:rotate(37deg);
  -o-transform:rotate(37deg);
  transform:rotate(37deg);
}
.fivepointstar:before, .fivepointstar_no:before{
  position:absolute;
  top:-5px;
  left:-6px;
  content:"";
  border-left:2px solid transparent;
  border-right:2px solid transparent;
  -webkit-transform:rotate(323deg);
  -moz-transform:rotate(323deg);
  -ms-transform:rotate(323deg);
  -o-transform:rotate(323deg);
  transform:rotate(323deg);
}
.fivepointstar:after, .fivepointstar_no:after{
  position:absolute;
  top:0;
  left:-10px;
  content:"";
  border-right:10px solid transparent;
  border-left:10px solid transparent;
  -webkit-transform:rotate(286deg);
  -moz-transform:rotate(286deg);
  -ms-transform:rotate(286deg);
  -o-transform:rotate(286deg);
  transform:rotate(286deg);
}
/*End five point star*/
/*Start share pop up window*/
.share_popup{
	position:fixed;
	z-index:1;
	width:100%;
	height:100%;
	display:none;
	left:0;
	top:0;
	background:#000000;
	background-color:rgba(0,0,0,0.5);
}
.sharepopup_container{
	width:300px;
	margin:100px auto;
	background:#ffffff;
	border-radius:4px;
}
.share_cotent{
	width:92%;
	margin:20px 4% 10px;
}
.share_title, .share_btn, .share_close{
	width:100%;
}
.share_title, .share_btn{
	text-align:left;
}
.shareti_container{
	margin:0 0 1rem;
	text-align:center;
}
.shareti_container p{
	font-weight:bold;
	font-family:'Times New Roman';
	font-size:18px;
}
.share_btn a{
	display:block;
	margin:5px 0;
	padding:0.5rem 1rem;
	color:#ffffff;
	border-radius:4px;
	-moz-opacity: 0.90!important;
	filter:alpha(opacity=90);
	opacity:0.9;
}
.share_btn a:hover{
	color:#ffffff;
	text-decoration:none;
	-moz-opacity:1.00!important;
	filter:alpha(opacity=100);
	opacity:1.0;
}
.share_btn a img{
	width:24px;
}
.share_close{
	margin-top:1rem;
	text-align:center;
}
.shareclose_container{
	display:inline-block;
	padding:0.5rem 1rem;
	color:#ffffff;
	background:#616161;
	border-radius:4px;
	-moz-opacity: 0.90!important;
	filter:alpha(opacity=90);
	opacity:0.9;
}
.shareclose_container:hover{
	cursor:pointer;
	-moz-opacity:1.00!important;
	filter:alpha(opacity=100);
	opacity:1.0;
}
.href_sharefacebook{
	background:#29487d;
}
.href_sharetwitter{
	background:#00aced;
}
.href_sharepinterest{
	background:#e60023;
}
.href_sharetumblr{
	background:#1b2b42;
}
.href_sharereddit{
	background:#cc3700;
}
.href_sharelinkedin{
	background:#0077b5;
}
/*End share pop up window*/
/**************************************END css tricks & tools**************************************/
.header_containner:after, .logo:after, .content_container:after, .maintextconti_container:after, .maintextcontxt_container:after, .evastar_container:after{
	content:'';
	display:block;
	clear:both;
}
.logo, .maintext, .site_title, .img_area, .eva_star, .eva_text{
	float:left;
}
.nav, .aside, .sitetitle_des, .text_area, .outerlink_btn, .review_btn, .reviewhdr_text{
	float:right;
}
#h1_1, #review_title, .evastar_container{
	overflow-y:hidden;
}
/**************************************END float & overflow**************************************/

/**************************************opacity**************************************/
/**************************************END opacity**************************************/

/**************************************a**************************************/
a{
	text-decoration:none;
}
a:hover{
	cursor:pointer;
}
.logo_title, .nav a, .nav a:visited, .footer_dir a, .footer_dir a:visited{
	color:#000000;
}
.logo_title:hover{
	text-decoration:none;
}
.nav a:hover, .footer_dir a:hover, .textarea_container a:hover, .textarea_container a:active{
	color:#ff0000;
	text-decoration:underline;
}
.textarea_container a, .textarea_container a:visited{
	color:#ff0000;
}
.aside_list ul li a{
	color:#000000;
}
.site_title:link, .site_title:hover, .site_title:active, .site_title:visited{
	color:#009EFF;
}
.site_title:hover, .aside_list ul li a:hover{
	text-decoration:underline;
}
.outerlink_btn:link, .review_btn:link{
	color:#000000;
}
.outerlink_btn:hover, .review_btn:hover, .backtop:hover{
	background:#B0E2FF;
}
.outerlink_btn:active, .review_btn:active{
	color:#000000;
}
.evatitle_container h2, .reviewbold_container p{
	font-size:16px;
}
/**************************************END a**************************************/

/**************************************font-family & font-style & font-weight**************************************/
.monospace{
	font-family:monospace;
}
.logo_title{
	font-family:"Times New Roman";
	font-weight:bold;
}
h2{
	font-family:"Times New Roman";
}
.update_date, time{
	font-style:italic;
}
.sitetitle_des{
	font-style:italic;
}
/**************************************END font-family & font-style & font-weight**************************************/

/**************************************font-size & color**************************************/
#h1_1, #review_title, .site_title h2{
	font-size:20px;
}
#h3_1{
	font-size:16px;
}
.update_date, time{
	color:#616161;
}
.logo_title{
	font-size:32px;
}
.aside_list ul li a p{
	font-size:14px;
}
.outerlinkbtn_container, .reviewbtn_container{
	color:#000000;
}
.reviewconti_container h2{
	font-size:18px;
}
/**************************************END font-size & color**************************************/

/**************************************background & border**************************************/
.logo_img{
	border-radius:32px;
}
.maintext_header, .aside_div, .blog_content{
	background:#ffffff;
}
.content, .aside_container{
	background:#EAEAEA;
}
.maintext_header, .aside_container, .blog_content{
	border-radius:2px;
}
.maintextcon_container{
	background:#ffffff;
}
.maintextcon_div{
	border-top:1px solid #EAEAEA;
}
#maintextcon_div1{
	border:none;
}
.outerlink_btn, .review_btn{
	background:#EAEAEA;
	border-radius:5px;
}
.backtop{
	border-radius:4px;
}
.appsimg_border{
	width:99%;
	border:1px solid #EAEAEA;
}
/**************************************END background & border**************************************/

/**************************************screen width adaptation**************************************/
@media screen and (max-width:1200px){
	.header_container, .footer_container{
		width:82%;
		margin:1rem 9%;
	}
	.content_container{
		width:82%;
		margin:1rem 9% 0;
	}
	.backtop{
		right:9%;
	}
}
@media screen and (max-width:1023px){
	.header_container, .footer_container{
		width:92%;
		margin:1rem 4%;
	}
	.content_container{
		width:92%;
		margin:1rem 4% 0;
	}
	.backtop{
		right:4%;
	}
	.logo_title{
		font-size:28px;
	}
}
@media screen and (max-width:650px){
	.logo_title{
		font-size:24px;
	}
	.content_container{
		width:100%;
		margin:1rem 0 0;
	}
	.maintext, .aside, .aside_container, .aside_div, .maintextcon_container{
		width:100%;
	}
	.maintexthdr_container, .review_title, .reviewcontent_title, .review_bold, .review_text{
		width:92%;
		margin:0 4% 1rem;
	}
	.review_list{
		width:92%;
		margin:0 4%;
	}
	.reviewconti_container{
		padding:1rem 0 0;
	}
	.aside_container{
		margin:0;
	}
	.aside_div{
		padding:0;
	}
	.content_header{
		text-align:center;
	}
	.aside_list ul li{
		padding-left:4%;
	}
	.maintextcon_div{
		width:92%;
		margin:0 4%;
		padding:0 0 1rem;
	}
	.maintextconti_container{
		text-align:center;
	}
	.site_title, .sitetitle_des, .img_area, .text_area, .reviewhdr_text{
		width:100%;
	}
	.imgarea_container{
		margin:0;
	}
	.textarea_container{
		width:100%;
		padding:0;
	}
	.backtop{
		display:none;
	}
	#f_backtop{
		display:inline-block;
	}
	.reviewhdrtxt_container{
		width:100%;
		padding:1rem 0 0 0;
	}
	.evatext_container{
		line-height:18px;
	}
	.reviewti_container{
		text-align:center;
	}
	.eva_container{
		margin:5px 0;
	}
}
@media screen and (max-width:400px){
	.logo_title{
		font-size:20px;
	}
}
/**************************************END screen width adaptation**************************************/