@charset "utf-8";
/**************************************public**************************************/
*{
	margin:0;
	border:0;
	padding:0;
	overflow-x:hidden;
	font-size:14px;	
}
ul{
	list-style:none;
}
a:hover{
	cursor:pointer;
}
/**************************************END public**************************************/

/**************************************LAYOUT**************************************/
/**************************************END LAYOUT**************************************/

/**************************************css tricks & tools**************************************/
/**************************************END css tricks & tools**************************************/

/**************************************float & overflow**************************************/
/**************************************END float & overflow**************************************/

/**************************************opacity**************************************/
/**************************************END opacity**************************************/

/**************************************a**************************************/
/**************************************END a**************************************/

/**************************************font-family & font-style & font-weight**************************************/
/**************************************END font-family & font-style & font-weight**************************************/

/**************************************font-size & color**************************************/
/**************************************END font-size & color**************************************/

/**************************************background & border**************************************/
/**************************************END background & border**************************************/

/**************************************screen width adaptation**************************************/
/**************************************END screen width adaptation**************************************/