@charset "utf-8";
*{
	margin:0;
	padding:0;
	border:0;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f6f6f6;
}
header{
	width: 100%;
}
header:after{
	display:block;
	clear: both;
	content: '';
}
.header-left{
	float: left;
	width: 80px;
	height: 80px;
	background: -webkit-linear-gradient(left,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Firefox 3.6 to 15 */
	background: linear-gradient(to right,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Standard */
}
.header-center{
	float: left;
	line-height: 80px;
	vertical-align: middle;
}
.header-right{
	float: right;
	width: 80px;
	height: 80px;
	background: -webkit-linear-gradient(top,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Firefox 3.6 to 15 */
	background: linear-gradient(to bottom,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Standard */
}
footer{
	width: 100%;
}
footer:after{
	display:block;
	clear: both;
	content: '';
}
.footer-left{
	float: left;
	width: 80px;
	height: 80px;
	background: -webkit-linear-gradient(bottom,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Firefox 3.6 to 15 */
	background: linear-gradient(to top,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Standard */
}
.footer-center{
	float: left;
	height: 40px;
	border-bottom: 2px solid #000000;
}
.footer-right{
	float: right;
	width: 80px;
	height: 80px;
	background: -webkit-linear-gradient(right,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Firefox 3.6 to 15 */
	background: linear-gradient(to left,#FF0000,#FF7D00,#FFFF00,#00FF00,#0000FF,#00FFFF,#FF00FF); /* Standard */
}
.header-left, .header-right, .footer-left, .footer-right{
	border: 1px solid #000000;
	border-radius: 50%;
}
.content-wrapper{
	width: 100%;
}
.content{
	width: 100%;
	margin: 50px 0 10px 0;
}
.title-wrapper{
	width: 100%;
	margin: 24px 0;
}
h1{
	text-align: center;
	padding-left: 20px;
	font-size: 24px;
}
@media screen and (max-width: 400px) {
	h1{
		padding-left: 2px;
		font-size: 16px;
	}
}
h2{
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}
.galary-wrapper {
	margin: 20px 40px 40px;
}
.galary-headline {
	width: 100%;
	padding: 24px 0;
	font-size: 24px;
}
.galary {
	width: 100%;
	margin: 10px 0;
}
.galary:after {
	display: block;
	content: '';
	clear: both;
}
.img-cube, .feature-cube {
	float: left;
	width: 12.5%;
	margin-left: 10%;
	margin-bottom: 18px;
}
@media screen and (max-width: 750px) {
	.img-cube {
		width: 35%;
	}
	.feature-cube {
		width: 80%;
		margin-bottom: 36px;
	}
}
.img-cube > img{
	width: 100%;
}
.btn-wrapper{
	width: 100%;
	margin: 24px 0;
	text-align: center;
}
.btn-wrapper:after{
	display: block;
	clear: both;
	content: '';
}
.btn-block{
	width: 100%;
	margin: 0 0 20px;
	text-align: center;
}
.btn{
	display: inline-block;
	padding: 12px;
	margin: 12px 0;
	border-radius: 8px;
	background: #000000;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
}
.btn:hover{
	background: #e50707;
}
.blocked-img {
	display: block;
}
.img-text {
	width: 100%;
	text-align: center;
}
.policy-wrapper{
	width: 100%;
	margin: 64px 0 0;
	text-align: center;
}
.policy-wrapper > p {
	padding: 0 40px;
	text-align: left;
}
.policy-span{
	padding: 4px 8px;
}
@media screen and (max-width: 750px) {
	.policy-span {
		display: block;
		padding: 4px 0;
	}
}
.policy{
	color: #000000;
	font-size: 14px;
}